body {
  background-image: url(https://64.media.tumblr.com/7fbf54c0aa82204968bf579f4ccf3610/d01f3aba991f10f2-c3/s1280x1920/19a656ea4817f8e61dc0eb05c24024c65845d3da.gifv);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.materialContainer, .materialContainerMenu {
  width: 100%;
  max-width: 580px;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.materialContainer img, .materialContainerMenu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.materialContainer .box, .materialContainerMenu .box {
  position: absolute;
  top: 100px;
  height: 500px;
  float: left;
  padding: 5px 5px 35px 15px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.materialContainer .box .title, .materialContainerMenu .box .title {
  width: 100%;
  float: left;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative;
  text-align: center;
}
.materialContainer .box #tabelaPedidos, .materialContainer .box #tabelaPedidos2, .materialContainerMenu .box #tabelaPedidos, .materialContainerMenu .box #tabelaPedidos2 {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 995px;
  word-wrap: break-word;
  background-color: white;
}
.materialContainer .box #tabelaPedidos td, .materialContainer .box #tabelaPedidos th, .materialContainer .box #tabelaPedidos2 td, .materialContainer .box #tabelaPedidos2 th, .materialContainerMenu .box #tabelaPedidos td, .materialContainerMenu .box #tabelaPedidos th, .materialContainerMenu .box #tabelaPedidos2 td, .materialContainerMenu .box #tabelaPedidos2 th {
  text-align: center;
  padding: 8px;
}
.materialContainer .box #tabelaPedidos td, .materialContainer .box #tabelaPedidos2 td, .materialContainerMenu .box #tabelaPedidos td, .materialContainerMenu .box #tabelaPedidos2 td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}
.materialContainer .box #tabelaPedidos th, .materialContainer .box #tabelaPedidos2 th, .materialContainerMenu .box #tabelaPedidos th, .materialContainerMenu .box #tabelaPedidos2 th {
  color: #000000;
  background: rgba(153, 150, 150, 0.231372549);
  font-size: 15px;
}
.materialContainer .box tr:hover, .materialContainerMenu .box tr:hover {
  background-color: #cccccc;
}
.materialContainer .box #tabelaPedidos tr:nth-child(even), .materialContainer .box #tabelaPedidos2 tr:nth-child(even), .materialContainerMenu .box #tabelaPedidos tr:nth-child(even), .materialContainerMenu .box #tabelaPedidos2 tr:nth-child(even) {
  background: #F8F8F8;
}
.materialContainer .box #tabelaPedidos tr:nth-child(even):hover, .materialContainer .box #tabelaPedidos2 tr:nth-child(even):hover, .materialContainerMenu .box #tabelaPedidos tr:nth-child(even):hover, .materialContainerMenu .box #tabelaPedidos2 tr:nth-child(even):hover {
  background-color: #cccccc;
}
.materialContainer .box #tabelaPedidos button, .materialContainerMenu .box #tabelaPedidos button {
  background-color: #ff0000;
  border: solid;
  border-radius: 7px;
  border-color: #ff0000;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 97px;
}
.materialContainer .box #tabelaPedidos button:nth-child(odd), .materialContainerMenu .box #tabelaPedidos button:nth-child(odd) {
  background-color: #07b874;
  border-color: #07b874;
}
.materialContainer .box #tabelaPedidos button:hover, .materialContainerMenu .box #tabelaPedidos button:hover {
  background-color: #ffffff;
  color: #ff0000;
  border: solid;
  border-radius: 5px;
}
.materialContainer .box #tabelaPedidos button:hover:nth-child(odd), .materialContainerMenu .box #tabelaPedidos button:hover:nth-child(odd) {
  color: #07b874;
}
.materialContainer .box #tabelaPedidos2 button, .materialContainerMenu .box #tabelaPedidos2 button {
  background-color: #07b874;
  border: solid;
  border-radius: 7px;
  border-color: #07b874;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 97px;
}
.materialContainer .box #tabelaPedidos2 button:nth-child(odd), .materialContainerMenu .box #tabelaPedidos2 button:nth-child(odd) {
  background-color: #ff0000;
  border-color: #ff0000;
}
.materialContainer .box #tabelaPedidos2 button:hover, .materialContainerMenu .box #tabelaPedidos2 button:hover {
  background-color: #ffffff;
  color: #07b874;
  border: solid;
  border-radius: 5px;
}
.materialContainer .box #tabelaPedidos2 button:hover:nth-child(odd), .materialContainerMenu .box #tabelaPedidos2 button:hover:nth-child(odd) {
  color: #ff0000;
}
.materialContainer .box-menu, .materialContainerMenu .box-menu {
  position: relative;
  width: 220px;
  top: 100px;
  height: 490px;
  right: 230px;
  float: left;
  padding: 15px 5px 35px 15px;
  background: rgb(255, 229, 229);
  overflow: hidden;
  transition: 0.5s;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: center;
}
.materialContainer .box-menu .title-Menu, .materialContainerMenu .box-menu .title-Menu {
  width: 100%;
  float: left;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.materialContainer .box-menu .button-menu, .materialContainerMenu .box-menu .button-menu {
  padding: 15px;
  margin-top: 15px;
  background: rgb(255, 229, 229);
  display: list-item;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: color 0.3s;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  width: 205px;
}
.materialContainer .box-menu .button-menu:before, .materialContainerMenu .box-menu .button-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #01ff9d;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
}
.materialContainer .box-menu .button-menu:hover, .materialContainerMenu .box-menu .button-menu:hover {
  color: rgb(0, 0, 0);
}
.materialContainer .box-menu .button-menu:hover:before, .materialContainerMenu .box-menu .button-menu:hover:before {
  transform: scaleX(1);
}

/*# sourceMappingURL=style.css.map */
